.title{
  text-align: center;
  padding-top: 20px;
  color: darkblue;
  font-family: fantasy;
}

.nav{
  background-color: crimson;
  padding: 25px;

}

.nav ul li {
  list-style: none;
  display:inline-block ;
}

.nav ul li a{
  text-decoration: none;
  margin-right: 15px;
  font-size: 22px;

}

ul{
  margin: 0;
}

.active-link{
  color: lightgreen;
  text-decoration: underline!important;
}

.posts{
  padding: 25px 50px;
}

.posts a{
  font-size: 22px;
}

.post {
  padding: 15px 100px;
}

.post p{
  font-size: 22px;
}